{% load custom_filters %}
<div class="card mt-3 d-md-none">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <strong>Total:</strong>
            <span class="h5 text-success mb-0">$ {{ cart.subtotal | peso_argentino }}</span>
        </div>
    </div>
</div>

<table class="table d-none d-md-table mt-3">
    <tfoot class="table-group-divider">
        <tr>
            <td colspan="4" class="text-end"><strong>Total:</strong></td>
            <td colspan="2" class="h5 text-success">
                $ {{ cart.subtotal | peso_argentino }}
            </td>
        </tr>
    </tfoot>
</table>

<div class="d-flex flex-column flex-md-row justify-content-between mt-4">
    <a href="{% url 'web:index' %}" class="btn btn-outline-primary mb-3 mb-md-0">
        <i class="fas fa-arrow-left me-2"></i> Seguir Comprando
    </a>
    <div class="d-flex flex-column flex-md-row">
        <a href="{% url 'cart:vaciar' %}" class="btn btn-outline-danger mb-2 mb-md-0 me-md-3">
            <i class="fas fa-trash-alt me-2"></i> Vaciar Carrito
        </a>
        <a href="" class="btn btn-success">
            <i class="fas fa-credit-card me-2"></i> Comprar Ahora
        </a>
    </div>
</div>