{% load custom_filters %}
<div class="list-group-item">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <img src="{% if producto.imagen %}{{ producto.imagen.url }}{% endif %}" 
                 alt="{{ producto.titulo }}" class="img-thumbnail me-3" style="width: 60px; height: 60px; object-fit: cover;">
            <div>
                <h6 class="mb-1">
                    <a href="{% url 'web:productoDetalle' producto.slug %}" class="text-decoration-none">
                        {{ producto.titulo }}
                    </a>
                </h6>
                <small class="text-muted">$ {{ producto.precio|peso_argentino }}</small>
            </div>
        </div>
        <div>
            <a href="{% url 'cart:eliminar' producto.slug %}" 
               class="btn btn-outline-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    </div>
    <div class="mt-2">
        <div class="input-group">
            <span class="input-group-text">Cantidad</span>
            <input type="number" readonly class="form-control text-center" 
                   name="quantity" value="{{i.cantidad}}" min="1">
        </div>
    </div>
</div>